<ion-tabs class="tabs-icon-top">
  <!-- Browse Tab -->
  <ion-tab title="Browse" icon="icon icon-work" href="#/tab/browse">
    <ion-nav-view name="tab-browse"></ion-nav-view>
  </ion-tab>


  <!-- Chat Tab -->
  <ion-tab title="Chat" icon="icon ion-grid" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon="icon ion-pricetags" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
